<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/styles/categories.css">
  <link rel="stylesheet" href="styles/categories.css">
  <title>Barcha Kategoriyalar</title>
</head>
<body>
  <h1>Barcha Kategoriyalar</h1>

  <ul id="categoryList">
    <!-- Bu yerga backenddan kelgan kategoriyalar render bo‘ladi -->
  </ul>

  <a href="/categories/create">➕ Yangi kategoriya qo‘shish</a>
</body>
</html>
