<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN</h1>
    <h4 style="color: red"><%= error %></h4>
    <form action="/users/login" method="post">
        <input type="email" name="email" placeholder="email">
        <br><br>
        <input type="text" name="password" placeholder="password">
        <br><br>
        <button type="submit">send</button>
        <br><br>
        <a href="/users/register">Don't have account? Register...</a>
      <br /><br>
      <a href="/users/forgot-password">Forgot password</a>
      <br />
    </form>
</body>
</html>