<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password</title>
  </head>
  <body>
    <h1>Reset password</h1>
    <h4 style="color: red"><%= error %></h4>
    <h4 style="color: greenyellow"><%= message %></h4>

    <form action="/users/reset-password?token=<%=token%>" method="post">
      <input type="text" placeholder="password" name="password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
